<%= form_for current_user, :method => :put do |f| %>
  <fieldset>
    <% if current_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% current_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </h2>
    <br/>
      <h1>Profil Ändern</h1>
      </br>
      <%= f.label :name %>
      <%= f.text_field :name, :class => "input-medium" %>
      <%= f.label :email %>
      <%= f.text_field :email, :class => "input-medium" %>
      <%# <%= f.label :password %1> %>
      <%# <%= f.text_field :password, :class => "input-medium" %1> %>
      <%# <%= f.label :password_confirmation %1> %>
      <%# <%= f.text_field :password_confirmation, :class => "input-medium" %1> %>
    <div class="actions">
      <%= f.submit "Speichern", :id => "update_user"%>
    </div>
  </fieldset>
<% end %>
