<%# <%= form_for(@comment) do |f| %1> %>
<%#   <% if @comment.errors.any? %1> %>
<%#     <div id="error_explanation"> %>
<%#       <h2><%= pluralize(@comment.errors.count, "error") %1> prohibited this comment from being saved:</h2> %>

<%#       <ul> %>
<%#       <% @comment.errors.full_messages.each do |msg| %1> %>
<%#         <li><%= msg %1></li> %>
<%#       <% end %1> %>
<%#       </ul> %>
<%#     </div> %>
<%#   <% end %1> %>

<%#   <div class="field"> %>
<%#     <%= f.label :user_id %1><br /> %>
<%#     <%= f.number_field :user_id %1> %>
<%#   </div> %>
<%#   <div class="field"> %>
<%#     <%= f.label :entry_id %1><br /> %>
<%#     <%= f.number_field :entry_id %1> %>
<%#   </div> %>
<%#   <div class="actions"> %>
<%#     <%= f.submit %1> %>
<%#   </div> %>
<%# <% end %1> %>
