<% content_for :content_2 do %>
  <% unless @entry.freigeschaltet %>
    <div style="width: 100%; overflow: hidden;">
      <div style="width: 600px; float: left;">

      <div class="scan_container">
    <h3>Eintrag Bearbeiten</h3>
        <div class="funky_grey_seperator">
          <span class="right-action"><button class= "btn" id="forward" type="button" onclick="forward_switch()">Vor</button></span>
          <span class="right-action"><button class= "btn" id ="back" type="button" onclick="back_switch()">Zurück</button></span>
          <span class="right-action"><button class= "btn" id ="back_first" type="button" onclick="back_first_switch()">Erste Seite</button></span>
          <span class="left-action"><h5 id="page_count">Seite 1</h5></span>
          <% pages = to_scan_pages(@entry.kennzahl) %>

          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[0]}_oben.jpg", style: "display: block;", id: "page0", size: '880x880'  %>
          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[0]}_mitten.jpg", style: "display: none;", id: "page1", size: '880x880'  %>
          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[0]}_unten.jpg", style: "display: none;", id: "page2", size: '880x880'  %>

          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[1]}_oben.jpg", style: "display: none;", id: "page3", size: '880x880'  %>
          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[1]}_mitten.jpg", style: "display: none;", id: "page4", size: '880x880'  %>
          <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/Lex_#{pages[1]}_unten.jpg", style: "display: none;", id: "page5", size: '880x880'  %>
        </div>
      </div>
      </div>
    <% end %>
      <div style="margin-left: 950px;"> 
    <hr>
    </br>
    <%= render 'entries/form' %>
    </div>
    </div>
  <% end %>
