<% content_for :sidebar do %>
</br>
</br>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <%= form_tag root_path, method: "get", id: "search_form", target: "_self" do %>
        <fieldset>
          <li>
            <label for="search">Suchbegriff</label>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          </li>
        <fieldset>
        <li>
          <button id="search_button" class="btn">Suchen</button>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sortieren</li>
    <div class="btn-group dropup">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Dropdown <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><%= sortable 'kennzahl', 'Kennzahl', 'asc' %></li>
                <li><%= sortable 'kennzahl', 'Kennzahl (reversed)', 'desc' %></li>
                <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift', 'asc' %></li>
                <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift (reversed)', 'desc' %></li>
                <li><%= sortable 'id', 'Id', 'asc' %></li>
                <li><%= sortable 'id', 'Id (reversed)', 'desc' %></li>
                <%# http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-dropdowns.php %>
            </ul>
        </div>
    </div>
        <fieldset>
        <fieldset>
    </ul>
  </div>



<% end %>

<% content_for :content do %>
</br>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <h1>Das Große Lexikon des Buddhismus</h1>
  <span class="label"><%= @count %>
    <%= @count > 1 ? "Einträge" : "Eintrag" %>
  </span>

  <%= paginate @entries %>
  <table class="table table-striped">

    <% @entries.each do |entry| %>
      <tr class="index-text-container" >
        <td>
        <% unless entry.japanische_umschrift.blank? %>
          <%= entry.japanische_umschrift %>
        <% end %>
        <% unless entry.kanji.blank? %>
          </br>
          <%= entry.kanji %>
        <% end %>
        <% unless entry.kennzahl.blank? %>
          </br>
          <%= entry.kennzahl%>
        <% end %>
        <% unless entry.comments.blank? %>
          </br>
          Kommentare: <%= entry.comments.count %>
        <% end %>
        <span class="right-action"><%= link_to 'Anzeigen', entry %>
          <% if entry.user == current_user || current_user.admin? %>
          | <%= link_to 'Bearbeiten', edit_entry_path(entry) %>
          <% end %>
          </span>
        </td>
      </tr>
      <% if entry.uebersetzung.blank? %>
        <tr></tr>
      <% else %>
        <tr class="index-text-container_truncate" >
          <td>
            <%# <%= raw(entry.uebersetzung.slice(0,300)) %1> %> 
            <%# <%= raw(entry.uebersetzung) %1> %> 
            <%= raw(entry.uebersetzung.truncate(2000)) %>
            <%# <%= raw(entry.uebersetzung) %1> %>
            <%# <%= "(...)" if entry.uebersetzung.length > 300 %1> %>
            <%# <%=  entry.uebersetzung.length  %1> %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate @entries %>

<% end %>
