<%= render 'entries/scan_and_html_box' %>
<% content_for :content do %>
  <div class="scan_container">
    <div class="funky_grey_seperator">
    <h4>Scan SBDJ </h4>
      <% pages = to_scan_pages(@entry.kennzahl) %>
      <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/SBDJ_Seite_#{pages[0]}.jpg", size: '1000x1000'  %>
    </div>
  </div>
  <div class="down_under">
    <div class="funky_grey_seperator">
    <span class="right-action"> <%= link_to 'Bearbeiten', edit_entry_path(@entry), class: 'btn' %></span>
    <h4>Kerndaten</h4>
    <% unless @entry.user_id.blank? %>
      <dt class="label">Verfasser</dt>
      <dd><%= @entry.user.name %></dd>
    <% end %>
    <% unless @entry.namenskuerzel.blank? %>
      <dt class="label">Namenskürzel</dt>
      <dd><%= @entry.namenskuerzel %></dd>
    <% end %>
    <% unless @entry.kennzahl.blank? %>
      <dt class="label">Kennzahl</dt>
      <dd><%= @entry.kennzahl %></dd>
    <% end %>
    <% unless @entry.spaltenzahl.blank? %>
      <dt class="label">Spaltenzahl</dt>
      <dd><%= @entry.spaltenzahl %></dd>
    <% end %>
    <% unless @entry.lemma_art.blank? %>
      <dt class="label">Art des Lemmas</dt>
      <dd><%= @entry.lemma_art %></dd>
    <% end %>
    <% unless @entry.jahreszahlen.blank? %>
      <dt class="label">Jahreszahlen</dt>
      <dd><%= @entry.jahreszahlen %></dd>
    <% end %>
  </div>
  <div class="funky_grey_seperator">
    <h4>Lemma-Schreibungen und -Aussprache</h4>
    <% unless @entry.japanische_umschrift.blank? %>
      <dt class="label">Japanische Umschrift</dt>
      <dd><%= @entry.japanische_umschrift %></dd>
    <% end %>
    <% unless @entry.kanji.blank? %>
      <dt class="label">Kanji</dt>
      <dd><%= @entry.kanji %></dd>
    <% end %>
    <% unless @entry.chinesisch.blank? %>
      <dt class="label">Chinesisch</dt>
      <dd><%= @entry.chinesisch %></dd>
    <% end %>
    <% unless @entry.tibetisch.blank? %>
      <dt class="label">Tibetisch</dt>
      <dd><%= @entry.tibetisch %></dd>
    <% end %>
    <% unless @entry.koreanisch.blank? %>
      <dt class="label">Koreanisch</dt>
      <dd><%= @entry.koreanisch %></dd>
    <% end %>
    <% unless @entry.pali.blank? %>
      <dt class="label">Pali</dt>
      <dd><%= @entry.pali %></dd>
    <% end %>
    <% unless @entry.sanskrit.blank? %>
      <dt class="label">Sanskrit</dt>
      <dd><%= @entry.sanskrit %></dd>
    <% end %>
    <% unless @entry.weitere_sprachen.blank? %>
      <dt class="label">Weitere Sprachen</dt>
      <dd><%= @entry.weitere_sprachen %></dd>
    <% end %>
    <% unless @entry.alternative_japanische_lesungen.blank? %>
      <dt class="label">Alternative japanische Lesungen</dt>
      <dd><%= @entry.alternative_japanische_lesungen %></dd>
    <% end %>
    <% unless @entry.schreibvarianten.blank? %>
      <dt class="label">Schreibvarianten</dt>
      <dd><%= @entry.schreibvarianten %></dd>
    <% end %>
    <%# <% unless @entry.lemma_in_katakana.blank? %1> %>
    <%# <% end %1> %>
    <%# <% unless @entry.lemma_in_lateinbuchstaben.blank? %1> %>
    <%# <% end %1> %>
  </div>

  <div class="funky_grey_seperator">
    <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
    <% unless @entry.uebersetzung.blank? %>
      <dt class="label">Übersetzung</dt>
      <dd><%= raw(@entry.uebersetzung) %></dd>
    <% end %>
    <% unless @entry.deutsche_uebersetzung.blank? %>
      <dt class="label">Deutsche Übersetzung</dt>
      <dd><%= @entry.deutsche_uebersetzung %></dd>
    <% end %>
    <% unless @entry.quellen.blank? %>
      <dt class="label">Quellen</dt>
      <dd><%= raw(@entry.quellen) %></dd>
    <% end %>
    <% unless @entry.literatur.blank? %>
      <dt class="label">Literatur</dt>
      <dd><%= raw(@entry.literatur) %></dd>
    <% end %>
    <% unless @entry.eigene_ergaenzungen.blank? %>
      <dt class="label">Eigene Ergänzungen</dt>
      <dd><%= raw(@entry.eigene_ergaenzungen) %></dd>
    <% end %>
    <% unless @entry.quellen_ergaenzungen.blank? %>
      <dt class="label">Quellen Ergänzungen</dt>
      <dd><%= raw(@entry.quellen_ergaenzungen) %></dd>
    <% end %>
    <% unless @entry.literatur_ergaenzungen.blank? %>
      <dt class="label">Literatur Ergänzungen</dt>
      <dd><%= raw(@entry.literatur_ergaenzungen) %></dd>
    <% end %>
    </div>
  </div>


   
    <%# <dt class="label">Page Referenz</dt> %>
    <%# <dd><%= @entry.page_reference %1></dd> %>
  <%# </dl> %> 

    <div class="down_comments">
      <div class="funky_grey_seperator">
      <%= form_for(@comment) do |f| %>
        <%# error messages!!!! %>
        <h4>Kommentar<span class="right-action"><%= f.submit "Speichern", class: 'btn' %></span></h4></br>
        <%= f.hidden_field :entry_id, :value => @entry.id  %>
        <%= f.hidden_field :user_id, :value => current_user.id  %>
        <%= f.text_area :comment %>
      <% end%>
      <ul class="unstyled">
        <% @entry.comments.order("updated_at DESC").each do |comment| %>
          <li>
            <strong><%= comment.user.name %></strong> 
            <%= "(#{comment.updated_at.to_formatted_s(:short)})" %>
            <% if comment.user == current_user || current_user.admin? %>
              <span class="right-action"><%= link_to "Bearbeiten", edit_comment_path(comment) %> | <%= link_to "Löschen", comment_path(comment), method: :delete %></span>
            <% end %>
            </br>
            </br>
            <%= comment.comment %>
            </br>
            <hr>
          </li>
        <% end%>
      </ul>
      </div>
    </div>
<% end %>
