<% content_for :content do %>
<h1>EntryVersions#show</h1>
<p>Find me in app/views/entry_versions/show.html.erb</p>
<%# <p><%= @entry_version.updated_at %1></p> %>
<%# <p><%= @entry_version.kennzahl  %1></p> %>
<%# <p><%= @entry_version.japanische_umschrift%></p> %>
<%# <p><%= @entry_version.kanji %1></p> %>
<%# <p><%= @entry_version.spaltenzahl %1></p> %>

<% end %>
